* 
.tittle{
text-align: center;
    size-adjust: 6px;
}
.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('https://i.pinimg.com/564x/23/4e/90/234e904c5433e4349d6ae79089e9ac6e.jpg');
    display: inline-block;
    margin: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}


nav {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url("https://i.pinimg.com/564x/23/4e/90/234e904c5433e4349d6ae79089e9ac6e.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
}